.content img {
  margin: 60px 0;
}

.heading {
  font-size: 4rem;
}

.sub-heading {
  font-size: 3rem;
  font-weight: 500;
}

p {
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 420;
}

.hero {
  height: 100vh;
  background: url(../backgrounds/h_img.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
}

.about-us {
  /* height: 50vh; */
  flex-direction: column;
}

.services {
  /* height: 50vh; */
  background: url(../backgrounds/s_image.jpg) no-repeat;
  color: white;
  flex-direction: column;
}

.what-we-do {
  padding: 50px;
  /* height: 40vh; */
}

.portfolio {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 50px;
}

.contact-us {
  background: url(../backgrounds/c_image.jpg) no-repeat;
  background-size: cover;
  color: white;
}

.contact-us-content {
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form-control {
  background-color: transparent;
  border-radius: 0;
}

.form-control:valid {
  background-color: transparent;
  color: white;
}

.form-control::placeholder {
  color: white;
}

textarea {
  height: 300px;
}

.social {
  padding: 50px;
}
