@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0;
}

.content img {
  margin: 60px 0;
}

p {
  padding: 10px 0;
}

.hero {
  height: 100vh;
  background: url(../backgrounds/h_img.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
}

.about-us {
  flex-direction: column;
  padding: 50px 0;
}

.services {
  background: url(../backgrounds/s_image.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
  flex-direction: column;
  padding: 50px 0;
}

.what-we-do {
  padding: 50px;
}

.portfolio {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: 50px;
}

.contact-us {
  background: url(../backgrounds/c_image.jpg) no-repeat;
  background-size: 100% 100%;
  color: white;
}

.contact-us-content {
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form-control {
  background-color: transparent;
  border-radius: 0;
}

.form-control:valid {
  background-color: transparent;
  color: white;
}

.form-control::placeholder {
  color: white;
}

textarea {
  height: 300px;
}

.social {
  padding: 50px;
}

footer p {
  padding: 0;
  font-size: 0.8rem;
}
