.hero {
  height: 100vh;
  background: url(../backgrounds/h_img.jpg) no-repeat;
  /* background-size: 100% 100%; */
  color: white;
}

.about-us {
  height: 50vh;
  flex-direction: column;
}

.services {
  height: 50vh;
  background: url(../backgrounds/s_image.jpg) no-repeat;
  color: white;
  flex-direction: column;
}

.what-we-do {
  padding: 50px;
  height: 40vh;
}

.contact-us {
  background: url(../backgrounds/c_image.jpg) no-repeat;
  color: white;
}
